.video-section {
    display: flex;
    /* padding: 20px; */
    gap: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 100%;
    /* margin-left: -rem; */
    border-radius: 15px;
    /* background-color: red; */
}

.video-section.playing {
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-section::-webkit-scrollbar {
    display: none; 
}



