.video-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Make sure it's above the blur-overlay */
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.video-modal video {
    width: 600px;
    max-width: 90vw;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
